@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Titan+One&display=swap');

html {
    font-size: 1.2em;
}

body {
    margin: 0;
    font-family: "Instrument Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #001f3d; /* Dark Blue */
    color: #ffff00;
}

body {
    background: linear-gradient(303deg, #001f3d, #0a2d64, #1b397f, #163a68);
    background-size: 800% 800%;

    animation: GradientBg 10s ease infinite;
}

@keyframes GradientBg {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}

#brandName {
    margin: 0px;
    font-weight: 800;
    color: #ffff00;
}

h1 {
    padding: 0;
    font-weight: 700;
}

.nav-link {
    color: #ffff00;
    font-weight: 600;
}

#navbarToggler {
    padding: 0 0.5em;
}

span.navbar-toggler-icon {
    width: 0.8em;
}

button {
    background-color: #6399f3a0 !important; /* Light Blue */
    color: #ffffff;
    outline: none;
    border: none !important;
}

#loginButton {
    font-weight: 600;
    color: #ffff00;
}

#loginButton:active {
    background-color: #4d7fe2c0 !important; /* Slightly darker blue */
}

#spotifyLogo {
    width: 22px;
    margin-top: -2px;
}

#userName {
    color: #8baceefb; /* Purple for user name */
}

#footerText {
    font-size: clamp(0.5rem, 1rem, 1.2vb);
}
#formUserMood {
    background: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #6399f3a0; /* Light Blue Border */
    outline: none;
    transition: box-shadow 0.5s ease;
    color: #e5e5e7;
    text-align: center;
}

#formUserMood:focus {
    background: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #6399f3a0; /* Light Blue Border on Focus */
    outline: none;
    box-shadow: 0px 10px 10px -10px #6399f3; /* Light Blue Glow */
}

::placeholder {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    color: rgb(157, 157, 157) !important;
}

#formUserMood:focus::placeholder {
    opacity: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotating-image {
    animation: rotate 5s linear infinite;
}

.custom-container {
    margin-top: 50px;
}
