<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <intAttribute key="M2_COLORS" value="0"/>
    <booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
    <stringAttribute key="M2_GOALS" value="build"/>
    <booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
    <booleanAttribute key="M2_OFFLINE" value="false"/>
    <stringAttribute key="M2_PROFILES" value=""/>
    <listAttribute key="M2_PROPERTIES"/>
    <stringAttribute key="M2_RUNTIME" value="EMBEDDED"/>
    <booleanAttribute key="M2_SKIP_TESTS" value="false"/>
    <intAttribute key="M2_THREADS" value="1"/>
    <booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
    <stringAttribute key="M2_USER_SETTINGS" value=""/>
    <booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="DB_PASSWORD" value="1xwoDIGFk0moLbHF"/>
        <mapEntry key="DB_URL" value="jdbc:postgresql://db.ewjteowxwknjwwjkwmty.supabase.co:5432/postgres"/>
        <mapEntry key="DB_USERNAME" value="postgres"/>
        <mapEntry key="FRONTEND_URL" value="http://localhost:3000"/>
        <mapEntry key="HUGGINGFACE_API_TOKEN" value="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"/>
        <mapEntry key="HUGGINGFACE_API_URL" value="https://api-inference.huggingface.co/models/mrm8488/t5-base-finetuned-emotion"/>
        <mapEntry key="SPOTIFY_CLIENT_ID" value="7d09509f81784746beee7941c51c7afe"/>
        <mapEntry key="SPOTIFY_CLIENT_SECRET" value="df3e34a009ff40a3a3e6d80198f86500"/>
        <mapEntry key="SPOTIFY_REDIRECT_URI" value="http://localhost:8080/api/callback"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${project_loc:backend}"/>
</launchConfiguration>
