<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="DB_PASSWORD" value="1xwoDIGFk0moLbHF"/>
        <mapEntry key="DB_URL" value="jdbc:postgresql://db.ewjteowxwknjwwjkwmty.supabase.co:5432/postgres"/>
        <mapEntry key="DB_USERNAME" value="postgres"/>
        <mapEntry key="FRONTEND_URL" value="http://localhost:3000"/>
        <mapEntry key="HUGGINGFACE_API_TOKEN" value="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"/>
        <mapEntry key="HUGGINGFACE_API_URL" value="https://api-inference.huggingface.co/models/mrm8488/t5-base-finetuned-emotion"/>
        <mapEntry key="SPOTIFY_CLIENT_ID" value="7d09509f81784746beee7941c51c7afe"/>
        <mapEntry key="SPOTIFY_CLIENT_SECRET" value="df3e34a009ff40a3a3e6d80198f86500"/>
        <mapEntry key="SPOTIFY_REDIRECT_URI" value="http://localhost:8080/api/callback"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenClassPathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tarishi.project.muzik.MuzikApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="backend"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenSourcePathProvider"/>
    <booleanAttribute key="spring.boot.ansi.console" value="true"/>
    <stringAttribute key="spring.boot.app.properties" value=""/>
    <booleanAttribute key="spring.boot.auto-connect" value="true"/>
    <booleanAttribute key="spring.boot.dash.hidden" value="false"/>
    <booleanAttribute key="spring.boot.debug.enable" value="false"/>
    <booleanAttribute key="spring.boot.fast.startup" value="true"/>
    <booleanAttribute key="spring.boot.jmx.enable" value="true"/>
    <booleanAttribute key="spring.boot.lifecycle.enable" value="true"/>
    <stringAttribute key="spring.boot.lifecycle.termination.timeout" value="15000"/>
    <booleanAttribute key="spring.boot.livebean.enable" value="false"/>
    <stringAttribute key="spring.boot.livebean.port" value="0"/>
    <stringAttribute key="spring.boot.profile" value=""/>
</launchConfiguration>
